@import "../../common/styles/vars.scss";

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 40px;
    text-transform: uppercase;
    color: $textColorLight;

    .logoutButton {
        align-self: center;
        color: $textColorLight
    }

}
