@import "./mixins.scss";
@import "./vars.scss";

.container {
  width: 80%;
  margin: 0 auto;
}

.input {
  padding: 12px;

  font-size: 18px;
  font-weight: 300;

  background: #FFFFFF;
  border: 1px solid #C9CACC;
  border-radius: 4px;
}

.logo {
  @include font(300, 24px, 28px);
  align-self: center;
}

.formContainer {
  @include flexContainer(column, 32px);
  width: 100%;

  .formItemContainer {
    @include flexContainer(column, 5px);
    position: relative;

    label {
      @include font(300, 16px, 19px);
      color: $textColorLight
    }
  }

}