@font-face {
  font-family: "GoldmanBold";
  src: local("GoldmanBold"),
  url("./assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

.carouselContainer {
  flex-flow: row nowrap !important;
}

.carouselBtnController {
  all: unset;
  align-self: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  border-radius: 30px;

  &:hover {
    transition: 0.3s;
    background-color: #00000010;
  }
}
